

.container{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 114px;
    width: 99vw;

}

.project{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    padding-left: 100px;
}

.backgroundProj{
    background-image: url("../assets/GeneralAssets/Background.png");
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    z-index: -1;
}


.ribbon{
    background-image: url("../assets/ProjectsAssets/Ribbon2.png");
    background-size: cover;
    padding-top: 5px;
    height: 609px;
    width: 168px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-repeat: no-repeat;
    margin-top: -1px;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.40));
    color: rgba(53,43,11,1);
    font-family: Garamond,sans-serif;
    font-weight: bolder;
    font-size: 20px;

}

.ribbonTextHeader {
    margin-bottom: -15px;
}

.ribbonText{
    margin-top: 0px;
}

.titleAndDes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Garamond,sans-serif;
    color: rgba(250,228,142,100);
    width: 650px;


}

.thirdColumn{
    display: flex;
    flex-direction: column;
    font-family: Garamond,sans-serif;
    color: rgba(250,228,142,100);



}

.pTitle{
    font-size: 80px;
    margin-top: -15px;

    text-align: left;
}

.pDescription{
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin-top: 0;
}


.carousel{
    margin-top: 20px;

    width: 550px;
    height: 350px;
    border: medium solid black;

}

.images{
    width: 550px;
    height: 350px;
    background-size: 550px 350px;

}

#B1.images{
    background-image: url("../assets/ProjectsAssets/Brigham/B1.png");
}

#B2.images{
    background-image: url("../assets/ProjectsAssets/Brigham/B2.png");
}

#B3.images{
    background-image: url("../assets/ProjectsAssets/Brigham/B3.png");
}

#B4.images{
    background-image: url("../assets/ProjectsAssets/Brigham/B4.png");
}

#RRTitlePage.images{
    background-image: url("../assets/ProjectsAssets/RR/RRTitlePage.jpg");

}

#R1.images{
    background-image: url("../assets/ProjectsAssets/RR/R1.png");

}
#R2.images{
    background-image: url("../assets/ProjectsAssets/RR/R2.png");

}
#R3.images{
    background-image: url("../assets/ProjectsAssets/RR/R3.png");

}

#DFThumbnail.images{
    background-image: url("../assets/ProjectsAssets/DragonFly/DFThumbnail.png");
}

#DF1.images{
    background-image: url("../assets/ProjectsAssets/DragonFly/DF1.png");

}
#DF2.images{
    background-image: url("../assets/ProjectsAssets/DragonFly/DF2.png");

}
#DF3.images{
    background-image: url("../assets/ProjectsAssets/DragonFly/DF3.png");

}

.funFactSection{
    text-align: left;
}

.funFactHeader{

    font-size: 30px;
    height: 10px;
    font-weight: bolder;

}

.contributionsHeader{
    font-size: 30px;

    text-align: left;
    font-weight: bolder;
    margin-top: -80px;
    margin-bottom: -10px;
}

.contributionText{
    font-size: 20px;

}

.funFact{
    font-size: 20px;
    width: 500px;
   
}

.linkBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}




