
.navbarBackDrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("../../public/assets/NavBarAssets/NavBackground.png");
    background-size: 100% 110px;
    z-index: 2;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

:has(#RRP) .navbarBackDrop{
    filter: hue-rotate(315deg);
}

:has(#DF) .navbarBackDrop{
    filter: hue-rotate(190deg);
}

:has(#BH) .navbarBackDrop{
    filter: hue-rotate(80deg);
}

:has(#RB) .navbarBackDrop{
    filter: hue-rotate(80deg);
}

.navBarBand{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    background-image: url("../../public/assets/NavBarAssets/GoldBand.png");
    background-size: 100% 110px;
    z-index: 2;
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.name{
    font-family: "Garamond","Times New Roman", serif;
    font-size: xx-large;
    padding-left: 100px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 15px;
}
.title{
    font-family: "Garamond","Times New Roman", serif;
    font-size: large;
    margin-top: -5px;
    font-weight: bold;
}

.iconBar{
    margin-top: 15px;
    font-size: xx-large;
    padding-right: 100px;
    padding-top: 20px;
}

.alignIcons {
    display: flex;
    flex-direction: column;
}
.icons{
    color: white;
    transform: scale(1.5);
}

.buttonText{

    font-size: 20px;
    font-family: "Garamond","Times New Roman", serif;
    font-weight: bold;
    color: white;
    margin-top: -5px;
    margin-bottom: -5px;
    text-transform: none;
}